/*TABLA DE ESTUDIANTES*/
*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(135deg, #f1f1f1d7 50%, #2d81e2 50%);
    backdrop-filter: blur(2px);    
}

h1{
    text-align: center;
}

.col-tabla{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#tabla-estudiante{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    text-align: center; 
}

.tabla-estudiante th, .tabla-estudiante td{
    padding: 10px;
}

@media (max-width:1020px){
    .col-tabla{
        overflow-x: auto;
    }
}







