/*TABLA DE ESTUDIANTES*/
*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, #f1f1f1d7 50%, #2d81e2 50%);
    backdrop-filter: blur(2px);    
}

h1{
    text-align: center;
}

.row-tabla-estudiantes{
    margin-top: 50px;
}

.tabla-estudiantes{
    text-align: center;
    border: 2px solid gray;
}

.btn-volver{
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    text-align: center;
    word-break: break-all;
    width: 90px;
    border-radius: 20px;
    background-color: #2d81e2;
    transition: background .3s;

}

.btn-volver a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.btn-volver:hover{
    background-color: #1e497a;
}





