/*TABLA DE ESTUDIANTES*/
*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(135deg, #f1f1f1d7 50%, #2d81e2 50%);
    backdrop-filter: blur(2px);    
}

h1{
    text-align: center;
}

.btn_reporte_container{
    background-color: none;
    color: black;
}

.col-tabla{
    text-align: center;
}

.col-tabla:nth-child(1){
    text-align: left;
}

.icon_action{
    border-radius: 5px;
    margin: 3px;

}

.icon_action:hover{
    transition: 0.3s color;
    color: black;
}

#tabla-estudiante{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    text-align: center; 
}

.tabla-estudiante th, .tabla-estudiante td{
    padding: 10px;
}

@media (max-width:1020px){
    .col-tabla{
        overflow-x: auto;
    }
}







